/*
    AsciiDoc article stylesheet.
 */

@import url(main.css);

h2 { text-decoration: underline;}

/* This is only used by level 0 sections in book document types. */
h2.sect0 { font-size: 175%; text-decoration: underline;}

span#author {
    font-family: sans-serif;
    font-size: larger;
    font-weight: bold;
}

div#informalpreface p { }

div.indentedparagraph { margin: 0 5%; }
div.indentedblock { margin: 0 5%; }

div.verbatimblock   {
    background: #e8e8e8;
    margin: 0 5%;
    padding: 0.5em;
}
